# Dify API keys
VITE_API_KEY_STEP1=your_step1_api_key_here
VITE_API_KEY_STEP2=your_step2_api_key_here
VITE_API_KEY_STEP3=your_step3_api_key_here
VITE_API_KEY_STEP4=your_step4_api_key_here
VITE_API_KEY_HELP=your_help_api_key_here
VITE_API_BASE_URL=https://dify.arkdoo.com.cn/v1
